doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href=`/css/normalize.css?v=${v}`)
    link(rel="stylesheet", href=`/css/app.css?v=${v}`)
    script(src=`/js/app.js?v=${v}`)
    block title
  body
    - const dateOptions = { day: '2-digit', month: '2-digit', year: 'numeric' };
    a(href="#top" class="scroll-top")
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M256 512a256 256 0 1 0 0-512 256 256 0 1 0 0 512zM377 271c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-87-87-87 87c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9L239 167c9.4-9.4 24.6-9.4 33.9 0L377 271z"/>
      </svg>
    div(class="wrap")
      nav(class="site-nav")
        a(class=`site-nav-link ${active('/')}` href="/") Leaderboard
        a(class=`site-nav-link ${active('/top-tracks')}` href="/top-tracks") Top Tracks
        a(class=`site-nav-link ${active('/activity')}` href="/activity") Activity
        a(class=`site-nav-link ${active('/peepee')}` href="/peepee") 🍆
        a(class=`site-nav-link ${active('/help')}` href="/help") Help
        a(class=`site-nav-link ${active('/api/docs')}` href="/api/docs" target="_blank") API
      block body
