extends layouts/app

block title
  title Last activity - MusicBox IRC

block body
  h2 Last activity
  p Recently added songs
  section(class="list")
    each item in activity.data
      - const title = item.title || 'Untitled';
      - const ts = item.lastPlayedTimestamp ? new Date(item.lastPlayedTimestamp).toLocaleDateString('en-GB', dateOptions) : '—';
      div(class="list-row")
        span(class="accent")=item.nickname
        if item.youtubeId
          a(class="ellipsis" href=`https://youtu.be/${item.youtubeId}` target="_blank" title=title)
            span(class="linklist-badge")
              include includes/youtube-icon
            span(class="linklist-title")=title
        else if item.bandcampId
          - const [bcArtist, bcTrack] = item.bandcampId.split(';')
          a(class="ellipsis" href=`https://${bcArtist}.bandcamp.com/track/${bcTrack}` target="_blank" title=title)
            span(class="linklist-badge")
              include includes/bandcamp-icon
            span(class="linklist-title")=title
        else if item.vimeoId
          a(class="ellipsis" href=`https://vimeo.com/${item.vimeoId}` target="_blank" title=title)
            span(class="linklist-badge")
              include includes/vimeo-icon
            span(class="linklist-title")=title
        else if item.soundcloudId
          if item.soundcloudUrl
            a(class="ellipsis" href=item.soundcloudUrl target="_blank" title=title)
              span(class="linklist-badge")
                include includes/soundcloud-icon
              span(class="linklist-title")=title
          else
            div(class="ellipsis" title=title)
              span(class="linklist-badge")
                include includes/soundcloud-icon
              span(class="linklist-title")=title
        span(class="dim")=ts
