extends layouts/app

block title
  title=`A collection of links by ${user.data[0].nickname} - MusicBox IRC`

block body
  h2=`A collection of links by ${user.data[0].nickname}`
  if stats && stats.data && stats.data[0]
    - const s = stats.data[0];
    - const since = s.firstShared ? new Date(s.firstShared).toLocaleDateString(navigator.language, dateOptions) : '—';
    p=`${s.uniqueVideos} unique songs since ${since}`
  section(class="list")
    each vid in vids.data
      - const title = vid.title || 'Untitled'
      - const playInfo = vid.playCount ? `${vid.playCount} relink${vid.playCount === 1 ? '' : 's'}` : null
      - const lastPlayed = vid.lastPlayedTimestamp ? new Date(vid.lastPlayedTimestamp).toLocaleDateString(navigator.language, dateOptions) : null
      div(class="list-row")
        span(class="accent")=lastPlayed
        if vid.youtubeId
          a(href=`https://youtu.be/${vid.youtubeId}` target="_blank" class="ellipsis")
            span(class="linklist-badge")
              include includes/youtube-icon
            span(class="linklist-title")=title
        else if vid.bandcampId
          - const [bcArtist, bcTrack] = vid.bandcampId.split(';')
          a(href=`https://${bcArtist}.bandcamp.com/track/${bcTrack}` target="_blank" class="ellipsis")
            span(class="linklist-badge")
              include includes/bandcamp-icon
            span(class="linklist-title")=title
        else if vid.vimeoId
          a(href=`https://vimeo.com/${vid.vimeoId}` target="_blank" class="ellipsis")
            span(class="linklist-badge")
              include includes/vimeo-icon
            span(class="linklist-title")=title
        else if vid.soundcloudId
          if vid.soundcloudUrl
            a(href=vid.soundcloudUrl target="_blank" class="ellipsis")
              span(class="linklist-badge")
                include includes/soundcloud-icon
              span(class="linklist-title")=title
          else
            div(class="ellipsis")
              span(class="linklist-badge")
                include includes/soundcloud-icon
              span(class="linklist-title")=title
        span(class="dim")=playInfo
