doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href=`/app.css?v=${v}`)
    title MusicBox Links
  body
    header(class="header")
      hgroup
        h1 MusicBox Links
        h2 A collection of links to the best music on the web, according to #{user.data[0].nickname}
    section(class="linklist")
      each vid in vids.data
        - const title = vid.title || 'Untitled'
        if vid.youtubeId
          a(class="linklist-item" href='https://youtu.be/'+vid.youtubeId target='_blank' rel='noopener')
            span(class="linklist-badge") YT
            span(class="linklist-title")= title
        else if vid.bandcampId
          - const [bcArtist, bcTrack] = vid.bandcampId.split(';')
          a(class="linklist-item" href=`https://${bcArtist}.bandcamp.com/track/${bcTrack}` target='_blank' rel='noopener')
            span(class="linklist-badge") BC
            span(class="linklist-title")= title
        else if vid.vimeoId
          a(class="linklist-item" href='https://vimeo.com/'+vid.vimeoId target='_blank' rel='noopener')
            span(class="linklist-badge") VI
            span(class="linklist-title")= title
        else if vid.soundcloudId
          - const scId = vid.soundcloudId.split(':').pop()
          a(class="linklist-item" href=`https://soundcloud.com/tracks/${scId}` target='_blank' rel='noopener')
            span(class="linklist-badge") SC
            span(class="linklist-title")= title
