extends layouts/app

block title
  title Top Tracks - MusicBox IRC

block body
  h2 Top Tracks
  p Most added songs across all users
  section(class="list")
    each track, index in tracks.data
      - const title = track.title || 'Untitled';
      - let rank = index + 1;
      div(class="list-row")
        span(class="accent")=`${rank}.`
        if track.youtubeId
          a(href=`https://youtu.be/${track.youtubeId}` target="_blank" title=title class="ellipsis")
            span(class="linklist-badge")
                include includes/youtube-icon
            span=title
        else if track.bandcampId
          - const [bcArtist, bcTrack] = track.bandcampId.split(';');
          a(href=`https://${bcArtist}.bandcamp.com/track/${bcTrack}` target="_blank" title=title class="ellipsis")
            span(class="linklist-badge")
                include includes/bandcamp-icon
            span=title
        else if track.vimeoId
          a(href=`https://vimeo.com/${track.vimeoId}` target="_blank" title=title class="ellipsis")
            span(class="linklist-badge")
                include includes/vimeo-icon
            span=title
        else if track.soundcloudId
          if track.soundcloudUrl
            a(href=track.soundcloudUrl target="_blank" title=title class="ellipsis")
              span(class="linklist-badge")
                include includes/soundcloud-icon
              span=title
          else
            | #{title}
        else
          | #{title}
        span(class="dim")=`${track.totalPlays} relinks`
